#!/bin/bash

TOKEN="{{ hostvars['K8S_TOKEN_HOLDER']['token'] }}"

APISERVER="{{ hostvars['K8S_TOKEN_HOLDER']['ipaddr'] }}"

HN=$(hostname) # Получаем hostname и записываем в переменную

STATUS=0

[[ ! -z $(curl --silent -H "Authorization: Bearer $TOKEN" $APISERVER/api/v1/namespaces/ingress-nginx/pods/ --insecure | jq --arg host "$HN" '.items | .[] | select(.spec.nodeName == $host)') ]]&& STATUS=1

if [ "$STATUS" -ne 0 ]
then
  [[ $(curl --silent -H "Authorization: Bearer $TOKEN" $APISERVER/api/v1/namespaces/ingress-nginx/pods/ --insecure | jq --arg host "$HN" '.items | .[] | select(.spec.nodeName == $host)| .status.phase == "Running"') == "true" ]]&& exit 0 || exit 1
else
   exit 1
fi
